body {
    margin: 0;
    font-family: "微软雅黑";
}

.app {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
/* 开始游戏按钮 */
.start-btn {
    position: absolute;
    width: 150px;
    height: 50px;
    top: calc(50% - 50px / 2);
    left: calc(50% - 150px / 2);
    font-size: 18px;
    color: #000000;
    background: linear-gradient(135deg, #fefefed0, #f7f4fade);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
}
.start-btn:hover {
    background-color:#974343;
}
.start-btn:focus {
    outline: none;
}

/* 继续游戏按钮 */
.continue-btn {
    position: absolute;
    width: 150px;
    height: 50px;
    top: calc(70% - 200px / 2);
    left: calc(50% - 150px / 2);
    font-size: 18px;
    color: #000000;
    background: linear-gradient(135deg, #fefefed0, #f7f4fade);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    display: none;
}
.continue-btn:hover {
    background-color:#5e9743;
}
.continue-btn:focus {
    outline: none;
}

/* 重新开始按钮 */
.new-btn {
    position: absolute;
    width: 150px;
    height: 50px;
    top: calc(70% - 50px / 2);
    left: calc(50% - 150px / 2);
    font-size: 18px;
    color: #000000;
    background: linear-gradient(135deg, #fefefedb, #f7f4fad0);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    display: none;
}
.new-btn:hover {
    background-color:#604397;
}
.new-btn:focus {
    outline: none;
}

/* 暂停按钮 */
.pause {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 29px;
    height: 30px;
    background: url(img/pause1.png);
    display: none;
}

.pause:hover {
    background: url(img/pause2.png);
}

.plane {
    width: 60px;
    height: 76px;
    background: url(img/plane.png);
    position: absolute;
    bottom: 80px;
    right: 300px;
    display: none;
}

.yellow_bullet {
    position: absolute;
    top: -200px;
    left: -100px;
    width: 4px;
    height: 10px;
    background: url(img/yellow_bullet.png);
    /* display: none; */
}

.bullet {
    position: absolute;
    top: -200px;
    right: -100px;
    width: 4px;
    height: 10px;
    background: url(img/blue_bullet.png);
    /* display: none; */
}

.bg {
    width: 100%;
    height: 100%;
    background: url(img/bg.png);
    animation: bg 3s linear infinite both;
}

@keyframes bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 512px;
    }
}

.plane_small {
    width: 32px;
    height: 23px;
    background: url(/img/small.png);
    position: absolute;
    top: -100px;
}

.plane_middle {
    width: 38px;
    height: 49px;
    background: url(/img/middle.png);
    position: absolute;
    left: 300px;
    top: -100px;
}

.plane_big {
    width: 62px;
    height: 90px;
    background: url(/img/big.png);
    position: absolute;
    top: -100px;
    left: -200px;
}

.bullet_award {
    width: 37px;
    height: 59px;
    position: absolute;
    right: -200px;
    top: -100px;
    background: url(/img/bullet_award.png);
}

.bomb_award {
    width: 37px;
    height: 48px;
    position: absolute;
    top: -100px;
    right: -100px;
    background: url(/img/bomb_award.png);
}

.boom {
    background: url(/img/explosion.png);
    width: 64px;
    height: 64px;
    animation: move .5s steps(14) 1;
    position: absolute;
    top: 0;
}

@keyframes move{
    100%{
        background-position: -896px 0;
    }
}

.bad {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.over {
    position: absolute;
    top: calc(50% - 150px / 2);
    left: calc(50% - 180px / 2);
    width: 180px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    display: none;
}

.score {
    position: absolute;
    top: 10px;
}